<!DOCTYPE html>
<head>
	<title>IOT_Manager</title>
</head>
<body>
	<!----<form action="/green" method="POST">
		<input type="submit" value="Submit">
	</form>-->
	<button id="green_but" onclick="green()" >green</button>
	<br/>
	<button id="red_but" onclick="red()">red</button>
	<br/>
	<button id="blue_but" onclick="blue()">blue</button>
	<br/>
	<button id="off_but" onclick="off()">off</button>

	<audio id="green_audio" src="http://127.0.0.1:8080/green_sound" ></audio>
	<audio id="red_audio" src="http://127.0.0.1:8080/red_sound" ></audio>
	<audio id="blue_audio" src="http://127.0.0.1:8080/blue_sound" ></audio>
	<audio id="off_audio" src="http://127.0.0.1:8080/off_sound" ></audio>
</body>
<script src="/view/index.js"></script>









</html>